.addCard {
    padding: 20px;

    &__card {
        display: flex;;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__input__label {
        font-size: 14px;
        text-align: left;
    }

    &__input {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 20px;
        width: 94%;
        margin-bottom: 20px;
    }
    
    &__input__small {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid black;
        width: 40%;
        margin-bottom: 20px;
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        width: inherit;
    }

    select {
        padding: 15px;
        border-radius: 5px;
        border: 1px solid grey;
        font-size: 20px;
        
        width: 100%;
        margin-bottom: 40px;
    }

}